extends ../layout

block append scripts
  script(src="http://js.pusher.com/1.12/pusher.min.js")
  script(src="assets/js/main.js")
  script(src="assets/js/handlebars.js")

block content
  input#pusher-key(type="hidden", value=pusherKey)

  form#message-form.form-inline
    input(type="hidden", name="user", value=user)
    input#message.input-xxlarge(type="text", name="message", placeholder="Write your message here")
    | &nbsp;
    button.btn.btn-info(type="submit") 
      i.icon-share.icon-white
      | &nbsp;Send

  #chat


    script#system-message(type="text/x-handlebars-template")
      <div class="alert"><strong>System</strong>: {{message}}</div>

    script#user-message(type="text/x-handlebars-template")
      <div class="alert alert-{{css}}"><strong>{{user}}</strong>: {{message}}</div>
