extends ../layout

block append scripts
  script(src="http://js.pusher.com/1.12/pusher.min.js")
  script(src="assets/js/main.js")
  script(src="assets/js/handlebars.js")

block navbar
  ul.nav.pull-right
    li
      a(href="/auth/logout") 
        i.icon-remove
        | &nbsp;Logout

block content
  input#pusher-key(type="hidden", value=pusherKey)

  form#message-form.form-inline
    input#message.input-xxlarge(type="text", name="message", placeholder="Write your message here")
    | &nbsp;
    button.btn.btn-info(type="submit") 
      i.icon-share.icon-white
      | &nbsp;Send

  #chat

  script#system-message(type="text/x-handlebars-template")
    <p class="muted"><strong>System</strong>: {{message}}</p>

  script#user-message(type="text/x-handlebars-template")
    <div class="{{css}}"><strong>{{user}}</strong>: {{message}}</div>

  script#member-mov-message(type="text/x-handlebars-template")
    <p class="{{css}}"><strong>{{user}}</strong> {{message}}</p>

